vendor/
bazel-*
data/

*.tgz
__pycache__/
*.pyc

revive.toml

fission-workflows-bundle
fission-workflows-bundle-linux
fission-workflows-bundle-osx
fission-workflows-bundle-windows
fission-workflows
fission-workflows-osx
fission-workflows-linux
fission-workflows-windows