vendor/
bazel-*
data/

*.tgz
__pycache__/
*.pyc

revive.toml

wfcli
wfcli-linux
wfcli-osx
wfcli-windows

fission-workflows-bundle
fission-workflows-bundle-linux
fission-workflows-bundle-osx
fission-workflows-bundle-windows