{{ if .Values.apiserver }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: workflows-apiserver
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
spec:
  replicas: 1
  template:
    metadata:
      labels:
        svc: workflows-apiserver
    spec:
      containers:
      - name: workflows-apiserver
        image: "{{ .Values.bundleImage }}:{{.Values.tag}}"
        imagePullPolicy: {{ .Values.pullPolicy }}
        command: ["/fission-workflows-bundle"]
        args: [
        # Only run apiserver components
          "--nats",
          "--api-http",
          "--api-workflow-invocation",
          "--api-workflow",
          "--api-admin",
        ]
        env:
        - name: ES_NATS_URL
          value: "nats://{{ .Values.nats.authToken }}@{{ .Values.nats.location }}.{{ .Values.fnenv.fission.ns }}:{{ .Values.nats.port }}"
        - name: ES_NATS_CLUSTER
          value: "{{ .Values.nats.cluster }}"
        - name: FNENV_FISSION_EXECUTOR
          value: "{{ .Values.fnenv.fission.executor }}.{{ .Values.fnenv.fission.ns }}"
        - name: FNENV_FISSION_CONTROLLER
          value: "{{ .Values.fnenv.fission.controller }}.{{ .Values.fnenv.fission.ns }}"
---
apiVersion: v1
kind: Service
metadata:
  name: workflows-apiserver
  labels:
    svc: workflows-apiserver
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
  selector:
    svc: workflows-apiserver
---
{{ end }}
# Workflow Engine is managed like any other environment in Fission
apiVersion: fission.io/v1
kind: Environment
metadata:
  name: workflow
  namespace: default
spec:
  version: 2
  runtime:
    image: "{{ .Values.envImage }}:{{.Values.tag}}"
    env:
    - name: "ES_NATS_URL"
      value: "nats://{{ .Values.nats.authToken }}@{{ .Values.nats.location }}.{{ .Values.fnenv.fission.ns }}:{{ .Values.nats.port }}"
    - name: "ES_NATS_CLUSTER"
      value: "{{ .Values.nats.cluster }}"
    - name: "FNENV_FISSION_CONTROLLER"
      value: "{{ .Values.fnenv.fission.controller }}.{{ .Values.fnenv.fission.ns }}"
    - name: "FNENV_FISSION_EXECUTOR"
      value: "{{ .Values.fnenv.fission.executor }}.{{ .Values.fnenv.fission.ns }}"
  builder:
    image: "{{ .Values.buildEnvImage }}:{{.Values.tag}}"
    command: "defaultBuild"
  allowedFunctionsPerContainer: infinite
